@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


:root {
  --warna-1: #242c3b;
  --font-poppins-bold: "Poppins", sans-serif;

  --font-color1: #ffffff;
  --font-color2: #fafeff;

  --linier1-start: #34c8e8;
  --linier2-end: #4e4af2;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

* {
  /* border: 1px solid black; */
  font-family: var(--font-poppins-bold);
}

a {
  display: block;
  text-decoration: none;
  color: grey;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/coding-background.jpg);
  background-position: center;
  background-size: cover;
  color: var(--font-color1);
}

div.container {
  position: relative;
  background-color: var(--warna-1);
  width: 600px;
  height: 100vh;
}

.section-absolute {
  position: absolute;
}

section.section-absolute {
  background-color: var(--warna-1);
  width: 100%;
}

h1.judul {
  font-family: var(--font-poppins-bold);
  font-weight: 700;
  font-style: normal;
  font-size: 1.6rem;
  font-style: normal;
  padding-bottom: 0.6rem;
}

:target {
  z-index: 1;
}

/* STYLE AWAL BERANDA */

section {
  background-color: var(--warna-1);
  height: 100%;
}

.beranda header {
  margin: 1rem;
}

.beranda .deskripsi-menu {
  background-color: rgb(174, 234, 240);
  font-family: var(--font-poppins-bold);
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
  margin: 1rem;
  height: 60px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: linear-gradient(149deg, #34c8e8 0%, #4e4af2 100%);
  border-radius: 10px;
  border: 1px rgba(255, 255, 255, 0.6) solid;
}

.beranda aside {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 1rem;
  flex-direction: column;
}

.container-hutang,
.container-piutang {
  background: linear-gradient(
    169deg,
    rgba(53.16, 63.01, 83.94, 0.6) 0%,
    rgba(33.62, 39.77, 52.06, 0.6) 100%
  );
  border-radius: 20px;
  border: 2px rgba(255, 255, 255, 0.2) solid;
  backdrop-filter: blur(100px);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  padding: 15px;
}

.container-hutang,
.container-piutang {
  * {
    /* border: 1px solid black; */
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  span {
    height: 35%;
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.5rem;
      height: 100%;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      color: white;
      background: linear-gradient(149deg, #34c8e8 0%, #4e4af2 100%);
      border-radius: 10px;
      border: 1px rgba(255, 255, 255, 0.6) solid;
    }
  }
  h3 {
    height: 20%;
    font-family: var(--font-poppins-bold);
    font-weight: 600;
    font-size: 1.5rem;
  }
  .keterangan-hutang,
  .keterangan-piutang {
    font-family: var(--font-poppins-bold);
    font-weight: 100;
    font-size: 0.7rem;
    height: 25%;
    font-style: italic;
  }
  .deskripsi-hutang,
  .deskripsi-piutang {
    font-family: var(--font-poppins-bold);
    height: 15%;
    font-weight: bold;
  }
}

footer.footer-menu {
  /* opacity: .0; */
  position: absolute;
  width: 100%;
  height: 65px;
  bottom: 0;
  box-shadow: 0px -1px 6px black;
  border-radius: 20px 15px 0 0;
  background-color: var(--warna-1);
  z-index: 5;
}

footer.footer-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer.footer-menu ul li {
  height: 65px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  padding: 10px;
}

footer.footer-menu ul a {
  position: relative;
  top: -2;
  transition: 0.3s ease;
  border-radius: 1rem 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  i {
    transition: 0.5s ease-in-out;
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-size: 1.3rem;
    width: 100%;
  }
}

footer.footer-menu ul li:hover a {
  color: #ffffff;
  border: 1px rgba(255, 255, 255, 0.6) solid;
  background: linear-gradient(149deg, #34c8e8 0%, #4e4af2 100%);
  /* transform: translateY(-3rem); */
}

section.hutang {
  width: 100%;
  padding: 0px 1rem;
  padding-top: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  * { 
    width: 100%;
  }
}

.hutang .deskripsi-menu {
  margin: 0rem 0 0.5rem 0;
}

.inti-deskripsi {
  padding-bottom: .4rem;
  font-weight: 600;
  font-size: large;
} 

.hutang aside {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

div.container-list {
  overflow-y: scroll;
  /* border: 1px solid black; */
  height: 100%;
}

div.container-list-item {
  margin-bottom: 0.5rem;
  background: linear-gradient(
    169deg,
    rgba(53.16, 63.01, 83.94, 0.6) 0%,
    rgba(33.62, 39.77, 52.06, 0.6) 100%
  );
  border-radius: 0.7rem;
  border: 2px rgba(255, 255, 255, 0.2) solid;
  backdrop-filter: blur(100px);
  padding: 10px 10px;
  * {
    /* border: 1px solid black; */
  }
}

.list-header {
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h3 {
    font-weight: 500;
    font-size: 1rem;
  }
  .icon {
    width: max-content;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
    a {
      color: var(--linier2-end);
      width: max-content;
      position: absolute;
      font-size: 1.5rem;
    }
  }
}

.tanggal {
  font-weight: 200;
  font-size: 0.8rem;
}

.container-rincian {
  display: flex;
  gap: 0.4rem;
  .container-jumlah,
  .container-dibayar,
  .container-sisa {
    border-radius: 10px;
    font-weight: 300;
    font-size: 0.8rem;
    padding: 0.5rem;
    background: linear-gradient(327deg, #363e51 0%, #4c5770 100%);
    border-radius: 0.5rem;
    border: 1px rgba(255, 255, 255, 0.2) solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.slider { 
  width: 100%;
  height: 100%;
  background-color: rgba(192, 192, 192, 0);
  backdrop-filter: blur(3px);
  position: absolute;
  z-index: -100;
} 

.slider-edit {
  position: absolute;
  bottom: 0;
  height: 20rem;
  padding: 1rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  background: linear-gradient(
    169deg,
    rgba(53.16, 63.01, 83.94, 0.8) 0%,
    rgba(33.62, 39.77, 52.06, 0.8) 100%
  );
  border-radius: 1rem 1rem 0 0;
  border: 2px rgba(255, 255, 255, 0.2) solid;
  border-bottom: none;
  backdrop-filter: blur(100px); 
  /* transition: all 1s ease; */
  .slider-judul {
    /* height: 3rem; */
    font-weight: 400;
    font-size: 0.8rem;
  } 

  a {
    font-weight: bold;
    color: white;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    column-gap: 0.6rem;
    background: linear-gradient(327deg, #363e51 0%, #4c5770 100%);
    border-radius: 0.5rem;
    border: 1px rgba(255, 255, 255, 0.2) solid;
    font-size: 0.9rem;
    i {
      width: 2rem;
      font-size: 1.5rem;
      color: var(--linier1-start);
    }
  }
}


section:target ~ #slider-hutang {
  display: none;
  z-index: -9999;
}

section:target ~ .input-data {
  display: none;
  z-index: -9999;
}

#slider-hutang:target {
  z-index: 100;
}

.input-data:target { 
  z-index: 9999;
}

section.input-data {
  z-index: -100;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(192, 192, 192, 0);
  backdrop-filter: blur(2px);
}

.container-perbarui {
  position: absolute;
  bottom: 0;
  /* background-color: red; */
  height: 23rem;
  padding: 1rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  background: linear-gradient(
    169deg,
    rgba(53.16, 63.01, 83.94, 0.9) 0%,
    rgba(33.62, 39.77, 52.06, 0.9) 100%
  );
  border-radius: 1rem 1rem 0 0;
  border: 2px rgba(255, 255, 255, 0.2) solid;
  border-bottom: none;
  backdrop-filter: blur(100px);
  label {
    margin-bottom: .2rem;
  }
  form {
    display: flex;
    flex-direction: column;
    input, button {
      border-radius: 3px;
      margin-bottom: .6rem;
      height: 2rem;
      border: none;
      outline: none;
      padding: .4rem;
    }
    input {
      font-weight: 400;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--font-poppins-bold);
      font-weight: 600;
      font-size: .9rem;
      background: linear-gradient(149deg, #34c8e8 0%, #4e4af2 100%);
      border: 1px rgba(255, 255, 255, 0.6) solid; 
      color: rgb(233, 233, 233);
    }
  }
}

.tambah {
  position: relative;
  /* z-index: 10; */
  bottom: 5rem;
  width: auto;
  height: 5rem;
  background-color: rgb(255, 255, 255, 0);
  display: flex;
  justify-content: end;
  align-items: center;
  a {
    top: -10px;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: linear-gradient(149deg, #34c8e8 0%, #4e4af2 100%);
    border-radius: 10px;
    border: 1px rgba(255, 255, 255, 0.6) solid;
    i {
      text-align: center;
    }
  }
}

/* STYLE AWAL BERANDA */

/* Breakpoints */

@media screen and (max-width: 546px) {
  .beranda aside {
    flex-direction: column;
    .container-hutang,
    .container-piutang {
      width: 100%;
    }
  }
}
